.parent {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 2 / 2 / 3 / 5; padding-top: 2rem;}
    .div2 { grid-area: 2 / 5 / 3 / 6; }
    .div3 { grid-area: 2 / 6 / 3 / 7; }
    .div4 { grid-area: 2 / 7 / 3 / 8; }
    .div5 { grid-area: 3 / 2 / 6 / 8; padding-top: 2rem;}

    .align-middle {
        margin-top: auto;
        margin-bottom: auto;
    }